<div class="page-header">
	<h1 class="text-success">Success! Your response has been submitted.</h1>
</div>
<h3 class="text-muted">Thank you for your response, your approval has been logged. If there were any tests that you could not see, we will be in touch to resolve these issues shortly.</h3>