<p>Congratulations!<p>
<p>Your approval page for <b><%= @page.name %></b> was sent successfully to the list: <b><%= @list.name %></b>.</p>
<p>You will be notified of responses as and when they come in via email.</p>
<p>This approval was sent to the following contacts...</p>
<ul>
	<% @list.contacts.each do |contact| %>
		<li><%= contact.email %></li>
	<% end %>
</ul>