<br><br><br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm">
			<strong>Latest Updates: </strong>
			<small class="text-muted"><%= GIT_LOG %><br>
			Source available and maintained at: <a href="https://github.com/spencerldixon/FendixCampaignApprovals">https://github.com/spencerldixon/FendixCampaignApprovals</a>
		</small>
		</div>
	</div>
</div>



