<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Instructions for Use</h4>
      </div>
      <div class="modal-body">
        <h3>Step 1</h3>
        <p>Create a page, give it a name like “Boots”, don’t add “approval page” or “campaign” at the end of it.</p>
  
        <h3>Step 2</h3>
        <p>Create some approval units. An approval unit represents a single banner or landing page of an ad unit, and comes in four different formats; Leaderboard, Skyscraper, Mediabar and Landing Page. Select the page you just created to associate each approval unit with it, chose the format, and paste in the switch ad unit ID (the number in the square bracket) in the value field. You can assign numbers to each ad unit to order their appearance on the page.</p>

        <h3>Step 3</h3>
        <p>Create some network partners, think of these as folders for contacts.</p>
  
        <h3>Step 4</h3>
        <p>Create some contacts, select which network partner they belong to.</p>
  
        <h3>Step 5</h3>
        <p>Create a list, give it a name, check the boxes of which network partners you want to belong to this list and save it. The list will bring in all the contacts for each network partner you add.</p>
  
        <h3>Step 6</h3>
        <p>Select pages, and view all pages. Next the page you created, select the options, and select View/Send this campaign.</p>
  
        <h3>Step 7</h3>
        <p>Put in a custom message and select the list you want to send it to and hit send.</p>
  
        <h3>Step 8</h3>
        <p>The mailer will notify you when the approval page has been sent to all contacts and whenever a response is added.</p>
  
        <h3>Step 9</h3>
        <p>Select the options next to the page and select view campaign responses to view the responses for this campaign.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
